/* Input form styling */
.input-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.task-input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0rem 2rem;
}

.general-input {
    max-width: 12rem;
    max-height: 3rem;
    min-width: 12rem;
    min-height: 3rem;
    font-size: larger;
    border: 0.3rem solid #A8B5BC;
    border-radius: 0.5rem;
    box-shadow: 0.2rem 0.2rem #000A;
    background-color: #E9F5F8;
    padding: 0.5rem;
    color: black;
}

#task-desc-input {
    max-width: 20rem;

    min-width: 12rem;

    width: 20rem;
    height: 8rem;
}

textarea {
    resize: none;
}

/* Checkbox styling */
input[type="checkbox"] {
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: none;
    margin-right: 0.5rem;
}

#team-member-input {
    max-width: 90%;
    width: 90%;
}

.team-member-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 0.4rem solid #A8B5BC;
}

.team-member-input>input {
    width: 80%;
    font-size: medium;
    box-shadow: none;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.input-form-container label {
    display: block;
    font-size: larger;
    color: white;
    font-weight: bold;
    text-shadow: black 0.1rem 0.1rem;
}

/* The "+" Button next to input fields  */
.add-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    border: solid 0.2rem;
    border-color: #A8B5BC;
    border-radius: 100%;
    background-color: #E9F5F8;
    user-select: none;
    cursor: pointer;
}

.add-btn:hover {
    color: #FFCE2D;
    border-color: #FFCE2D;
    background-color: #666;
}

#add-task-btn {
    position: relative;
    bottom: -0.7rem;
    width: 3rem;
    height: 3rem;
    min-width: 3rem;
    min-height: 3rem;
    font-size: 2rem;
    box-shadow: 0.2rem 0.2rem #000A;
    margin: 1rem;
}

#add-team-member-btn {
    min-width: 2rem;
    min-height: 2rem;
    max-width: 2rem;
    max-height: 2rem;

    font-size: 1.3rem;
    font-weight: bold;

    margin-bottom: 0.5rem;
}
