/* Header layout */
.header {
    display: flex;
    justify-content: center;
    top: 0;
}

.output-container {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.team-member-ul {
    background-color: #e9f5f8;
    border: 0.5rem solid #A8B5BC;
}

.in-queue-ul {
    background-color: #e9f5f8;
    border: 0.5rem solid #FFCE2D;
}

.in-progress-ul {
    background-color: #e9f5f8;
    border: 0.5rem solid #2EC5E5;
}

.resolved-ul {
    background-color: #e9f5f8;
    border: 0.5rem solid #42EE66;
}
